// font
$font: Nunito, sans-serif;

// colors
$dark: #181a1f;
$darkAlt: #262a34;
$light: rgb(255, 255, 255);
$primary: rgb(86, 131, 255);

// spacing
$spacing-md: 8px;
$spacing-lg: 16px;

// border radius
$borderRadius: 0.25em;

// header height
$headerHeight: 64px;
$headerMobileHeight: 55px;