// Nunito
@font-face {
  font-family: 'Nunito';
  font-weight: 200;
  src: url(../../assets/fonts/Nunito_200.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  src: url(../../assets/fonts/Nunito_300.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url(../../assets/fonts/Nunito_400.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  src: url(../../assets/fonts/Nunito_500.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  src: url(../../assets/fonts/Nunito_600.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url(../../assets/fonts/Nunito_700.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  src: url(../../assets/fonts/Nunito_800.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: url(../../assets/fonts/Nunito_800.ttf) format('truetype');
}