@import '../../scss/imports.scss';

.app {
  width: 100%;
  height: 100vh;
  background-color: $dark;
  font-family: $font;

  @include breakpoint(sm) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section {
  border-radius: $borderRadius;
  min-width: 80%;
  max-width: min(90%, 700px);
  margin: 0 auto;

  @include breakpoint(sm) {
    min-width: 500px;
    background-color: $main;
    box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.58);
  }
}

.container {
  padding: 1rem 0.5rem;
  color: $text;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint(sm) {
    padding: 3rem 3rem;
  }
}

.subtitle {
  display: inline;
  color: $primary;
}

.tooltip {
  position: relative;
  cursor: help;

  &:hover::after {
    border-radius: $borderRadius;
    content: attr(data-tooltip);
    font-size: 1rem;
    position: absolute;
    top: 1.1em;
    left: 1em;
    min-width: 200px;
    border: 1px $text solid;
    padding: 0.5rem;
    color: $text;
    background-color: $light;
    z-index: 1;
  }
}

.react_select_container {
  [class$='-control'] {
    background-color: $light;
    border-color: $light;
    color: $text;
    transition: none;

    [class$='-Input'] {
      color: $text;
    }

    [class$='-singleValue'] {
      color: $text;
    }

    [class$='-multiValue'] {
      background-color: #09cdda;
      &:nth-child(2) {
        background-color: #a154a1;
      }
      &:nth-child(3) {
        background-color: #e22781;
      }
      &:nth-child(4) {
        background-color: #2f74b6;
      }
      &:nth-child(5) {
        background-color: #a4d71e;
      }
      &:nth-child(6) {
        background-color: #f45e22;
      }
      &:nth-child(7) {
        background-color: #cb1317;
      }

      div {
        color: $dark;
      }
    }

    [class$='-multiValue'] div:last-child:hover {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &:hover {
      border-color: $primary;
    }
    &:focus {
      border-color: $primary;
    }
  }

  [class$='-menu'] {
    background-color: $light;
  }
  [class$='-option'] {
    background-color: $light;

    &:hover {
      background-color: $primary;
    }
  }
}

.checkbox {
  display: inline;
  position: relative;
  width: max-content;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;

  // &:hover input ~ &__checkmark {
  //   background-color: #ccc;
  // }

  input:checked ~ &__checkmark {
    background-color: $primary;
  }

  input:checked ~ &__checkmark:after {
    display: block;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: $borderRadius;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }

    &:after {
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.calendar_url {
  &__primary_button {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: $borderRadius;
    border: none;
    outline: none;
    background-color: $primary;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }

  &__url_input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius;
    border: none;
    outline: none;
    color: #fff;
    background-color: $main;
    cursor: pointer;
    border: 1px solid $text;

    &:focus,
    &:hover {
      border: 1px solid $primary;
    }
  }
}

.items {
  padding: 0.5rem 0;

  &--calendar_url {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &--checkboxes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.credits {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  &__made_with {
    display: flex;
    gap: 0.3rem;

    &--heart {
      color: $primary;
      fill: $primary;
      animation-name: tbk_colors;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }
  }

  &__paypal {
    margin-top: 1rem;
    display: flex;
    gap: 0.4rem;
  }
}

@keyframes tbk_colors {
  0%,
  100% {
    color: #001057;
    fill: #001057;
  }
  20% {
    color: #a154a1;
    fill: #a154a1;
  }
  40% {
    color: #e22781;
    fill: #e22781;
  }
  60% {
    color: #09cdda;
    fill: #09cdda;
  }
  80% {
    color: #a4d71e;
    fill: #a4d71e;
  }
}
